:root {
  --primary: #040d12;
  --secondary: #183d3d;
  --accent: #5c8374;
  --neutral: #93b1a6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  background-color: var(--accent);
}
body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 1rem;
}

.head_bar {
  position: fixed;
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  color: var(--neutral);
  z-index: 9999;
}

.head_bar .head_bar_title {
  color: var(--neutral);
  text-align: center;
  margin: 0 0.5rem;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
}

.head_bar nav a {
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  color: var(--neutral);
}

.head_bar nav a:hover {
  color: var(--secondary);
}

.head_bar nav a::after {
  content: " ";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--secondary);
  transform: scaleX(0);
  transition: 0.5s linear;
}

.head_bar nav a:hover:after {
  transform: scaleX(0.5);
}

main {
  max-width: 85%;
  width: 80%;
  margin: auto;
  padding: 1rem;
}

main h2 {
  font-size: 2rem;
  margin-top: 5rem;
  text-align: center;
}

.hero_section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(image/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero_section::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: rgb(92, 131, 116);
  background: linear-gradient(
    0deg,
    rgba(92, 131, 116, 1) 0%,
    rgba(92, 131, 116, 1) 10%,
    rgba(92, 131, 116, 0.8520220588235294) 20%,
    rgba(92, 131, 116, 0.795999649859944) 30%,
    rgba(92, 131, 116, 0) 100%
  );
}

.hero_section .content {
  padding: 0 7%;
}

.hero_section .content h1 {
  font-size: 3.3rem;
  color: var(--neutral);
  text-shadow: 1px, 1px, 3px rgba(1, 1, 3, 1) 0.5;
  line-height: 1;
  /* mix-blend-mode: color; */
}

.hero_section .content p {
  color: var(--neutral);
  line-height: 1.4;
  margin-top: 1rem;
  font-weight: 600;
  text-shadow: 1px, 1px, 3px rgba(1, 1, 3, 1) 0.5;
}

.hero_section .content .cta-btn {
  text-decoration: none;
  color: var(--neutral);
  margin-top: 1rem;
  background-color: var(--secondary);
  padding: 1rem 3rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  display: inline-block;
  text-shadow: 1px, 1px, 3px rgba(1, 1, 3, 1) 0.5;
}

.input_section,
.search_section,
.book_shelf,
.catalog,
.about {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: var(--secondary);
}

.input_section h3,
.search_section h3,
.search-container h3,
.book_shelf h3,
.catalog h3,
.about h3 {
  text-align: center;
  color: var(--neutral);
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.input_section form .input {
  margin: 0.5rem 0;
  /* padding-inline: 1rem; */
}

.input_section form button {
  background-color: var(--accent);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.input_section form button span {
  font-weight: bold;
}

.input_section form .input input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.input_section form .input label {
  color: var(--neutral);
  font-weight: bold;
}

.input_section form .input_inline {
  margin: 1rem 0;
  /* padding-inline: 1rem; */
  display: flex;
  align-items: center;
}

.input_section form .input_inline label {
  color: var(--neutral);
  font-weight: bold;
  margin-right: 0.5rem;
}

/* .search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(1, 1, 1, 0.8);
} */

/* .search_section h2 {
  color: white;
} */

.search_section form {
  padding: 1rem;
  color: var(--neutral);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr 0.5fr;
  grid-gap: 0.5rem;
}

.search_section form label {
  display: flex;
  align-items: center;
}

.search_section form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.search_section form button {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.search_section form #reset {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.search-container {
  margin: 1rem 0 0 0;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  display: none;
  background-color: var(--secondary);
}
/* .book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  background-color: rgba(1, 1, 1, 0.8);
} */

/* .book_shelf h2,
.search-container h2 {
  color: white;
} */

.book_shelf .book_list,
.search-container .content-result {
  padding: 0 1rem;
  color: var(--neutral);
}

.book_shelf .book_list .book_item,
.search-container .content-result #searchResults {
  padding: 0.5rem 1rem 1rem 1rem;
  border: 1px solid var(--neutral);
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: var(--secondary);
  text-align: center;
}

.book_shelf .book_list .book_item h3,
p,
.search-container .content-result #searchResults h3,
p,
.catalog .card h3 p,
.about p {
  margin: 0.5rem 0;
}

.book_shelf .book_list .book_item .action button,
#searchResults .action button {
  border: 0;
  padding: 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.book_shelf .book_list .book_item .action .green,
#searchResults .action .green {
  background-color: var(--accent);
  color: var(--primary);
}

.book_shelf .book_list .book_item .action .red,
#searchResults .action .red {
  background-color: var(--accent);
  color: var(--primary);
}

.catalog {
  padding: 0 1.5rem;
}

.h-scroll {
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
}

.h-scroll::-webkit-scrollbar {
  display: none;
}

.catalog .card-container,
.about .about-container {
  display: flex;
  width: max-content;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}

figure {
  position: relative;
  border: 1px solid var(--neutral);
  border-radius: 0.5rem;
  overflow: hidden;
}

figure:hover figcaption {
  bottom: 0;
}

figure img {
  display: block;
}

figcaption {
  position: absolute;
  bottom: -5rem;
  background-color: rgba(1, 1, 1, 0.7);
  width: 100%;
  text-align: center;
  transition: all 200ms;
}

figcaption h4,
figcaption p {
  color: var(--neutral);
  margin: auto;
}

.about {
  padding: 20px;
  background-color: var(--secondary);
}

.about-container {
  width: fit-content;
  margin: 0 auto; /* Center the container */
}

.about-container .card-about {
  margin: 20px 0; /* Add some margin for spacing */
  width: 100%; /* Full width of the container */
  text-align: center;
  color: var(--neutral); /* Use your defined variable */
  padding: 20px; /* Add padding for better spacing */
  border: 1px solid #ccc; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
}

footer {
  background-color: var(--primary);
  text-align: center;
  color: var(--neutral);
  padding: 2rem 7%;
}

footer .socials {
  margin-bottom: 1rem;
}

footer .socials a {
  text-decoration: none;
  color: var(--neutral);
  padding-inline: 1rem;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--secondary);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  text-decoration: none;
  color: var(--neutral);
  padding-inline: 1rem;
  margin: 1rem;
}

/* media */

/* laptop */
@media (max-width: 1920px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 68%;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
